<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">Monster</div>
            </div>
            <div class="right">
                <div id="hp">40 HP</div>
                <img class="energyIcon" src="./iconsEclair.png">
            </div>
        </header>
        <figure id="art">
            <img src="./pikachu.jpeg" alt="Pikachu">
            <figcaption>N°025 Pikachu</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="energyIcon" src="./iconsEclair.png">
                        <img class="energyIcon" src="./iconsEclair.png">
                    </div>
                    <div class="name">Geo Impact</div>
                    <div class="damage">60</div>
                </div>
            </div>
            <div class="description">Pikachu accumule de l’électricité dans ses joues et la libère lorsqu’il est menacé.</div>
        </div>
    </div>
</div>